.logo-box {
	position: absolute;
	margin-left: 120px;
}

.frame {
	position: relative;
	margin-left: 20px;
	width: 95px;
	height: 60px;
}

.myImg {
	position: absolute;
	left: 56;
	top: 16;
	right: 0;
	bottom: 0;
	width: 24px;
	display: block;
}
